In [30]:
import pymysql
import webbrowser

In [19]:
servername = "localhost"
username = "root"
password = "Shivani123@"
db = "python"
server = pymysql.connect(servername, username, password, db)
cursor = server.cursor()

sql = "CREATE DATABASE IF NOT EXISTS python;"
cursor.execute(sql)

sql = "USE python;"
cursor.execute(sql)

sql = '''CREATE TABLE IF NOT EXISTS school(id integer(4) AUTO_INCREMENT PRIMARY KEY, name varchar(45), 
password varchar(20), rollno varchar(20) UNIQUE KEY); '''
cursor.execute(sql)

sql = "SHOW tables;"
cursor.execute(sql)
print(cursor.fetchall())

(('school',),)

C:\Users\hp\Anaconda3.1\lib\site-packages\pymysql\cursors.py:170: Warning: (1007, "Can't create database 'python'; database exists")
  result = self._query(query)
C:\Users\hp\Anaconda3.1\lib\site-packages\pymysql\cursors.py:170: Warning: (1050, "Table 'school' already exists")
  result = self._query(query)

In [80]:
def load_data(cursor):
    sql = "INSERT INTO school(name, password, rollno) values('avinash', 'avi@', 'BETN1CS18016')"
    cursor.execute(sql)
    cursor.execute("SELECT * FROM school;")
    print(cursor.fetchall())
    
if __name__ == "__main__":
    servername = "localhost"
    username = "root"
    password = "Shivani123@"
    db = "python"
    server = pymysql.connect(servername, username, password, db)
    cursor = server.cursor()
    load_data(cursor)
    server.commit()
    server.close()

((7, 'Shi', 'Shi1234', 'BETN1CS18007'), (8, 'Shivani', 'Shi12345', 'BETN1CS18065'), (10, 'avi', 'avi12345', 'BETN1CS18006'), (11, 'avinash', 'avi@', 'BETN1CS18016'))

In [81]:
def load_data(cursor):
    cursor.execute("SELECT * FROM school;")
    result = cursor.fetchall()
    return result
tbl = "<tr><td>ID</td><td>Name</td><td>Roll no.</td></tr>"
s = []
s.append(tbl)    
def tbl1(result1):
    for row in result1:
        a = "<tr><td>%s</td>"%row[0]
        s.append(a)
        b = "<td>%s</td>"%row[1]
        s.append(b)
        c = "<td>%s</td></tr>"%row[3]
        s.append(c)

    contents = '''<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
    <html>
    <head>
    <meta content="text/html; charset=ISO-8859-1"
    http-equiv="content-type">
    <title>Python Webbrowser</title>
    </head>
    <body>
    <table>
    %s
    </table>
    </body>
    </html>
    '''%(s)
    main(contents, filename)    

filename = 'webbrowser.html'
def main(contents, filename):
    output = open(filename,"w")
    output.write(contents)
    output.close()

webbrowser.open(filename)

if __name__ == "__main__":
    servername = "localhost"
    username = "root"
    password = "Shivani123@"
    db = "python"
    server = pymysql.connect(servername, username, password, db)
    cursor = server.cursor()
    result1 = load_data(cursor)
    tbl1(result1)
    server.commit()
    server.close()